@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
@media (min-width: 640px) {
   .container {
        max-width: 640px;
        padding-right: 2rem;
        padding-left: 2rem;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding-right: 3rem;
        padding-left: 3rem;
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
        padding-right: 4rem;
        padding-left: 4rem;
    }
}
/* Slick Slider Custom Styles */
.slick-slider:focus,
.slick-slider:focus-visible,
.slick-slider:focus-within {
    outline: none !important;
}
.slick-slider *:focus {
    outline: none !important;
}
.slick-dots li button:before {
    display: none;
}
.slick-dots li {
    margin: 0 8px;
}
.home-slider-bullet {
    margin-top: 10px;
    width: 12px;
    height: 12px;
    background: #D1D5DB;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.slick-dots li.slick-active .home-slider-bullet {
    background: #ff3d71;
    width: 14px;
    height: 14px;
}

/* Scrollbar */
.custom-scroll::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background: #535657;
}
.custom-scroll::-webkit-scrollbar-track {
    background: #d0d2d4;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #bdbdbd #f1f1f1;
}

.custom-scroll::-webkit-scrollbar-button {
  display: none;        /* hides the arrow buttons */
}

